<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<title>Payments Status History </title>
</head>
<body>
    
<h1 class="text-center btn-primary"> Payments Status History </h1>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-6 offset-xl-1">
            <table class="table">
                
                <tbody>          
                    <tr>
                        <th>User ID</th>
                        <td>{{user.id}}</td>
                       

                    </tr>

                    <tr>
                        <th>ORDERID</th>
                        <td>{{user.ORDERID}}</td>

                    </tr>

                    <tr>
                        <th>TXNDATE</th>
                        <td>{{user.TXNDATE}}</td>

                    </tr>
                   
                    <tr>
                        <th>BANKNAME</th>
                        <td>{{user.BANKNAME}}</td>

                    </tr>
                    <tr>
                        <th>MID</th>
                        <td>{{user.MID}}</td>

                    </tr>
                  <tr>
                        <th>RESPCODE</th>
                        <td>{{user.RESPCODE}}</td>

                    </tr>
                    <tr>
                        <th>GATEWAYNAME</th>
                        <td>{{user.GATEWAYNAME}}</td>

                    </tr>
                    <tr>
                        <th>TXNAMOUNT</th>
                        <td>{{user.TXNAMOUNT}}</td>

                    </tr>
                    <tr>
                        <th>REFUNDAMT</th>
                        <td>{{user.REFUNDAMT}}</td>

                    </tr>
                    <tr>
                        <th>RESPMSG</th>
                        <td>{{user.RESPMSG}}</td>

                    </tr>
                    <tr>
                        <th>TXNTYPE</th>
                        <td>{{user.TXNTYPE}}</td>

                    </tr>
                    <tr>
                        <th>STATUS</th>
                        <td>{{user.STATUS}}</td>

                    </tr>
                </tbody>
            </table>

            
        </div>
        <!-- <div class="col-xl-2">
            <img src="https://picsum.photos/536/354" height="200px;" width="200px;" alt="">
        </div> -->
      
    </div>
</div>
<div class="text-center">
    <a href="/StatusHistorys" class="btn btn-primary text-center">Back</a>
</div>
  
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>