<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Demo Page</title>
<style>
    .dot {
  height: 250px;
  width: 250px;
  background-color: #f6e4e6;
  border-radius: 50%;
  border: 2px solid #f7dbde;
  text-align: center;
  margin-left: 45%;
  margin-top: 15%;
}
    .dot1 {
  height: 50px;
  width: 50px;
  background-color: #f6e4e6;
  border-radius: 50%;
  border: 2px solid #f7dbde;
  margin-left: 20px;
  margin-top: 10px;
  padding: 30px;
  
}
    .dot2 {
  
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;

  
}

.msg {
    border-bottom: 2px solid #fd5068;
}

.msg1 {
    border-bottom: 2px solid #fd5068;
    border-radius: 5px;

}
 
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="height: 768px; width: auto;">
        <div class="col-sm-4" style="background-color: white;border-right: 2px solid red;">
            <div style="width: auto; height: 100px; background-image: linear-gradient(to right, #fd2b7b , #ff7556);margin-right: -17px;margin-left: -17px;">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dot1"></div>
                  
                        </div>
                        <div class="col-sm-4 mt-4">
                            <div><b>My Profile </b></div>
                  
                        </div>
                        <div class="col-sm-4 mt-4">
                            <i class="fas fa-user fa-2x"></i>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 mt-1 text-center">
                        <div class="msg"><b>Matches </b></div>
              
                    </div>
                    <div class="col-sm-6 mt-1 text-center">
                        <div class="msg"><b>Messages </b></div>
              
                    </div>
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="background-color: #f5f7fa;">
                    <div class="col-sm-6 offset-sm-3 mt-5">
                        <div class="msg1" style="height: 200px; width: 200px; background-image: linear-gradient(to right, #fd2b7b , #ff7556);"></div>
              
                    </div>
                    <div class="col-sm-6 offset-sm-3 mt-1 text-center">
                        <h2>Start Matching</h2>
                        <p>You can matching here</p>
              
                    </div>
                    
                </div>
            </div>

            
        </div>
        <div class="col-sm-8" style="background-color: #f5f7fa;">
           <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dot"></div>
                    
                </div>
                <div class="col-sm-5 offset-sm-3 col-md-5 offset-md-3 mt-5" style="margin-left: 45%;">
                    <i class="fas fa-sync-alt fa-3x"></i>
                    <i class="fas fa-times-circle fa-3x"></i>
                    <i class="fas fa-star fa-3x"></i>
                    <i class="fas fa-heart fa-3x"></i>
                    <i class="fas fa-times-circle fa-3x"></i>
                </div>
                
    
               </div>
           </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>