<div id="popup3" class="overlay textcenter">
	<div class="popup2">
		<form action="#">
			<img  class="dif"src="{% static '/assets/img/cheatingnotlogo.png' %}"  href="#">
  <h2 >Enter your mobile number</h2>
		<a class="close" href="#">&times;</a>
  <input type="tel" id="phone" name="phone" placeholder="8744865366" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>

  <div class="content dif">
			When you tap "Continue", Cheatingnot will send a text with a verification code. Message and data rates may apply. The verified phone number can be used to login.
		</div>
  
  <input type="submit" class="Continuebutton dif1" value="Continue">
</form>


		</div>
	</div>