<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>User List</title>
</head>

<body>
    
   
<br>
 <center>
    <a href="{% url 'create' %}" class="btn btn-info mt-5 mb-5 text-center">Create Employee</a>
    <button class="btn btn-info mt-5 mb-5 text-center" onclick="window.print()">Print</button>
 </center>          

   
  
    <table class="table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
                <th colspan="3" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in emps %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.state}}</td>
                <td><a href="#" rel="noopener noreferrer"
                        class="text-center btn btn-danger">Details</a></td>
                <td><a href="#" rel="noopener noreferrer"
                        class="text-center btn btn-success">Delete</a></td>
                <td><a href="{% url 'empupdate' emp.id %}"  rel="noopener noreferrer" class="text-center btn btn-success">Update</a>
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-fluid">
    <div class="row">
    <div class="col-xl-6">
        {% if emps.has_other_pages %}
  <ul class="pagination">
    {% if emps.has_previous %}
      <li class="page-item disabled"><a href="?page={{ emps.previous_page_number }}" class="page-link">Previous</a></li>
    {% else %}
      <li class="disabled page-item page-link"><span>Previous</span></li>
    {% endif %}
    {% for i in emps.paginator.page_range %}
      {% if emps.number == i %}
        <li class="page-item page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if emps.has_next %}
      <li class="page-item"><a href="?page={{ emps.next_page_number }}" class="page-link">Next</a></li>
    {% else %}
      <li class="disabled page-item page-link"><span>Next</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
    </div>
    </div>
    <form method="get">
      {{ emp.form.as_p }}
      <button type="submit">Search</button>
    </form>
    {% for i in emp.qs %}
    {{i.name}}<br>
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>



</body>

</html>