<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>Title</title>
</head>
<body>
    <h1 class="text-center text-info">Send SMS</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="col-xl-6 offset-xl-3">
            <label for="id_email">Phone Number:</label></th><td><input type="number" name="phone"  maxlength="40" required id="id_phone" class="form-control">

                <label for="id_city">Sender ID:</label></th><td><input type="text" name="senderid"  maxlength="40" required id="id_senderid" class="form-control">
        
                <label for="id_state">Message:</label>
                <textarea name="msg" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>

        
<br>
<center>
    <button type="submit" class="btn btn-primary">Update</button>
</center>
    </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>