<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>Title</title>
</head>
<body> 
    <div class="col-xl-6 offset-xl-3">
        <h1 class="text-center">User Update Form</h1>
        <form action="/update/{{form.id}}" method="post" class="mt-5">
            
            {% csrf_token %}
        <label for="">User Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ form.username }}" /> 
        
        <label for="">First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ form.first_name }}" /> 
        
        <label for="">Last Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ form.last_name }}" /> 
        
        <label for="">Email</label>
        <input type="text" name="first_name" class="form-control" value="{{ form.email }}" /> 
        
        <center>
            <button type="submit" class="btn btn-danger mt-5">Update</button>
        </center>
        
        </form>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>