<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>User List</title>
</head>

<body>
    <h1 class="text-center text-success mb-5">Cheating Not User <a href="{% url 'Logout' %}" target="_blank"
            rel="noopener noreferrer">Logout</a></h1>

    <div class="container-fluid">
        <div class="row mb-5">

            <div class="col-xl-4">
                <form action="{% url 'searchUser' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="searchnow" class="form form-control"
                        placeholder="First name, Last name, email, username">

            </div>

            <div class="co-xl-2">
                <input type="date" name="datejoined" class="form-control" id="example-date-input">
            </div>


            <div class="col-xl-2">
                <select name="filter" id="selectBox" class="form-control rounded" onchange="filterNow(this.value)">
                    {% if columns %}
                    <option class="form-control" disabled selected>Filter</option>
                    {% for i in columns %}

                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>

            
            
            <div class="col-xl-2" id="age">
                <input type="text" name="age" class="form-control" placeholder= "Type Age Here">  
                
            </div>
            <div class="col-xl-2" id="city">
                <input type="text" name="city" class="form-control" placeholder= "Type City Here">  
                
            </div>
            <div class="col-xl-2" id="country">
                <input type="text" name="country" class="form-control" placeholder= "Type Country Here">  
                
            </div>
            <div class="col-xl-2" id="gender">
                <select name="gender" id="" class="form form-control">
                   

                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                    
                </select>
                
            </div>
            

            <div class="col-xl-2">
                <button type="submit" class="btn btn-info">Search Now</button>
                </form>

            </div>

        </div>
    </div>

    {% if Total %}
    <p>Total Users:- {{Total}} <a href="{% url 'userList' %}">All</a></p>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th colspan="3" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td><a href="{% url 'Details' user.id %}" rel="noopener noreferrer"
                        class="text-center btn btn-danger">Details</a></td>
                <td><a href="{% url 'Delete' user.id %}" rel="noopener noreferrer"
                        class="text-center btn btn-success">Delete</a></td>
                <td><a href="#" target="_blank" rel="noopener noreferrer" class="text-center btn btn-success">Update</a>
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
         document.getElementById('age').style.display = "none";
         document.getElementById('city').style.display = "none";
         document.getElementById('country').style.display = "none";
         document.getElementById('gender').style.display = "none";
        function filterNow(selectedValue) {
          
            
            if (selectedValue == 'Age') {
                document.getElementById('age').style.display = "block";
                document.getElementById('city').style.display = "none";
                document.getElementById('country').style.display = "none";
                var divs = document.getElementById('gender')
                divs.parentNode.removeChild(divs)
                    
                
            }

            else if (selectedValue == 'City') {
                document.getElementById('age').style.display = "none";
                document.getElementById('city').style.display = "block";
                document.getElementById('country').style.display = "none";
                var divs = document.getElementById('gender')
                divs.parentNode.removeChild(divs)
                        
                

            }

            else if (selectedValue == 'Country') {
                document.getElementById('age').style.display = "none";
                document.getElementById('city').style.display = "none";
                document.getElementById('country').style.display = "block";
                var divs = document.getElementById('gender')
                divs.parentNode.removeChild(divs)
            }
            else if (selectedValue == 'Gender') {
                document.getElementById('age').style.display = "none";
                document.getElementById('city').style.display = "none";
                document.getElementById('country').style.display = "none";
                document.getElementById('gender').style.display = "block";
                        
            }

            else if (selectedValue == 'Active') {
                document.getElementById('age').style.display = "none";
                document.getElementById('city').style.display = "none";
                document.getElementById('country').style.display = "none";
                document.getElementById('gender').style.display = "none";
            }

            

        }
    </script>


</body>

</html>